/*Additional CSS Section*/
.inquiry-image-post {
    max-height: 50px;
    max-width: 50px;
}

.card {
    height: auto;
}

.card-img-top {
    object-fit: cover;
    height: 250px;
}

.image-profile-md-wrapper {
    height: 46px;
    width: 46px;
    object-fit: cover;
}

.image-profile-md {
    height: 46px;
    width: 46px;
    object-fit: cover;
    border-radius: 50%;
}

.image-profile-sm-wrapper {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.image-profile-sm {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.image-profile-wrapper {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.image-profile {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}
